@page "/devices"

@using HomematicCore.Manager.Web.ViewModels;
@using HomematicCore.Manager.Web.Components;
@using HomematicCore.Manager.Web.Dialogs;

@inject DevicesViewModel _dataContext

<div class="container">
    <h4> Devices </h4>

    <div class="card dp-1">
        <ActivityOverlay IsBusy="_dataContext.IsBusy">
            <table class="small highlight">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Type</th>
                        <th>InstalledFirmware</th>
                        <th># Channels</th>
                        <th>Parametersets</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var device in _dataContext.LoadedDevices)
                    {
                        <tr>
                            <td>@device.Address</td>
                            <td>@device.Type</td>
                            <td>@device.InstalledFirmware</td>
                            <td>
                                <a href="/devices/@device.Address/channels">@device.Channels.Count</a>
                            </td>
                            <td>
                                @foreach (var set in device.CommonParameterSetNames)
                                {
                                    <button class="button button-clear button-small" @onclick="_ => _dataContext.ShowParameterSet(device, set)">@set</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </ActivityOverlay>
    </div>
</div>

<ParameterDialog ViewModel="_dataContext.ParameterDialogViewModel" />
<InstallationModeDialog ViewModel="_dataContext.InstallationModeDialogViewModel" />

<a class="button button-floating" @onclick="_ => _dataContext.EnableInstallationMode()"><i class="fas fa-lg fa-plus"></i></a>

@code 
{
    protected override Task OnInitializedAsync() => _dataContext.InitializeAsync();
}
