@page "/devices"

@using HomematicCore.Manager.Web.ViewModels;

@inject DevicesViewModel _dataContext

<h1> Devices </h1>

<table class="table table-sm">
    <thead>
        <tr>
            <th></th>
            <th>Address</th>
            <th>Type</th>
            <th>InstalledFirmware</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var device in _dataContext.LoadedDevices)
        {
            <tr @onclick="_ => _dataContext.ToogleDetails(device)">
                <td>+</td>
                <td>@device.Address</td>
                <td>@device.Type</td>
                <td>@device.InstalledFirmware @if (!device.IsUpdateAvailable) { <span class="badge badge-success">Up to date</span> } </td>
            </tr>
            @if (_dataContext.AreDetailsOpen(device))
            {
                <tr>
                    <td></td>
                    <td colspan="3">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Address</th>
                                    <th>Type</th>
                                    <th>Direction</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var channel in device.Channels)
                                {
                                    <tr>
                                        <td>@channel.Address</td>
                                        <td>@channel.Type</td>
                                        <td>@channel.Direction</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                
            }
        }
    </tbody>
</table>

@code {

    protected override Task OnInitializedAsync() => _dataContext.InitializeAsync();
}
