@page "/devices"

@using HomematicCore.Manager.Web.ViewModels;
@using HomematicCore.Manager.Web.Components;

@inject DevicesViewModel _dataContext

<div class="page-header">
    <span class="breadcrumb"> Devices </span>
</div>

<div class="card-panel dp-1">
    <table class="small responsive-table highlight selectable">
        <thead>
            <tr>
                <th>Address</th>
                <th>Type</th>
                <th>InstalledFirmware</th>
                <th># Channels</th>
                <th>Parametersets</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var device in _dataContext.LoadedDevices)
            {
                <tr @onclick="_ => _dataContext.OpenChannels(device)">
                    <td>@device.Address</td>
                    <td>@device.Type</td>
                    <td>@device.InstalledFirmware @if (!device.IsUpdateAvailable) { <span class="badge badge-success">Up to date</span> } </td>
                    <td>@device.Channels.Count </td>
                    <td>
                        @foreach (var set in device.CommonParameterSetNames)
                        {
                            <span class="badge solid">@set</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a class="btn btn-floating btn-large page-floating"><i class="material-icons">add</i></a>

@code 
{
    protected override Task OnInitializedAsync() => _dataContext.InitializeAsync();
}
